.App {
  background-color: #2C272F;
  color: #C4C1C7;
}

h1,h2,h3,h4{
  margin: 0;
}

.main {
  display: flex;
  background-color: #C4C1C7;
  color: #2C272F;
}

.side-nav{
  width: 15vw;
  height: 30vh; 
  background-color: #2C272F;
  color: #C4C1C7;
  padding: 0.8em;
  margin: 0;
  text-align: center;
}

.side-nav ul{
  list-style: none;
  padding-left: 0;
}

.list {
  width: 24.5%;
  padding: 1.5em;
}

.list h2 {
  text-align: center;
  font-weight: bold;
}

.card, .add-card-form {
  width: 87%;
  background-color: #F8F8F8;
  margin-top: 1.0em;
  border: 1px solid #DDD;
  border-radius: 8px;
  padding: 1.2em;
  box-shadow: 1px 1px 3px 3px #000;
}

.taskslist ul {
  list-style: none;
}

.addtask-form{
  width: 95%;
  padding: 0.4em;
  border-radius: 3px;
  border: none;
}

#add-icon{
  font-size: 3em;
  z-index: 99;
}

#add-icon:hover{
  color: green;
  cursor: pointer;
}